@using VendorTracker.Models;

@{
  ViewBag.Title = "Vendor and Order Tracker";
  Layout = "_Layout";
}

<div class="jumbotron">
<h1>Vendor @Model["vendor"].Name</h1>
</div>
<h5>Description: @Model["vendor"].Description</h5>


@if (Model["orders"].Count == 0)
{
  <p>There are no orders in this vendor yet</p>
}
<ol>
@foreach (Order order in @Model["orders"])
  {
    <li>
      @order.Title (@order.Description);
      Price: @order.Price $
      Date: @order.OrderDate;
    </li>
  }
</ol>



<p><a href='/vendors/@Model["vendor"].VendorId/orders/neworder'>Add a new order to vendor</a></p>
<form action="/vendors/@Model["vendor"].VendorId/deleteall" method="post">
  <button type="submit" name="button">Delete All Orders</button>
</form>
<p><a href='/vendors'>Return to vendors list</a></p>
<p><a href='/'>Return to Main Page</a></p>