@using VendorTracker.Models;

@{
  ViewBag.Title = "Vendor and Order Tracker";
  Layout = "_Layout";
}

<div class="jumbotron">
<h1>Vendor @Model["vendor"].Name, @Model["order"].Title</h1>
</div>
<h2>Description: @Model["order"].Description</h2>
<div class="content">
  <p>Price: @Model["order"].Price $</p>
  <p>Date: @Model["order"].OrderDate </p>
</div>
